In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Encoding each Unique Value of a Categorical Feature into Unique Numbers (Label_Encoding)

<img src="PNG/Label_Encoding.PNG">

In [2]:
def Label_Encoding(input_file, encode_column):

# Parameter Instruction:
    # input_file: Pandas DataFrame; the dataset contains encode column
    # encode_column: the categorical feature needs mean encoding
    
# Output
    # Pandas DataFrame; input_file with an additonal column of label encoded values
    
    input_file = input_file.fillna(0)    
    map_list = list(enumerate(sorted(list(input_file[encode_column].unique())),1))
    df_list = pd.DataFrame(map_list, columns = [encode_column + ' LE',encode_column])
    print('Label Encoding Mapping Table is Listed Below:', '\n', df_list)
    input_file = input_file.merge(df_list, left_on = encode_column, right_on = encode_column, how = 'left')
    
    return input_file

##### Example

In [3]:
df = pd.DataFrame(['Kitten','kitten','Puppy','Kitten','Puppy','Lamb','Lamb','Lamb'],
                 columns = ['Categorical Feature (X)'])
df

  Categorical Feature (X)
0                  Kitten
1                  kitten
2                   Puppy
3                  Kitten
4                   Puppy
5                    Lamb
6                    Lamb
7                    Lamb

In [4]:
Label_Encoding(input_file = df
              ,encode_column = 'Categorical Feature (X)')

Label Encoding Mapping Table is Listed Below:
    Categorical Feature (X) LE Categorical Feature (X)
0                           1                  Kitten
1                           2                    Lamb
2                           3                   Puppy
3                           4                  kitten

  Categorical Feature (X)  Categorical Feature (X) LE
0                  Kitten                           1
1                  kitten                           4
2                   Puppy                           3
3                  Kitten                           1
4                   Puppy                           3
5                    Lamb                           2
6                    Lamb                           2
7                    Lamb                           2

##### Note: 
You could see the example above created two different labels for Kitten vs. kitten. It is flexible for users to covert between uppercase and lowercase before using this function.