In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Encoding Categorical Feature to the Mean of Target Variable under Each Label (Mean_Encoding)

<img src="PNG/Mean_Encoding.PNG">

- Benifits:
Mean Encoding is able to achieve better loss with shorter tree
- Shortcomings:
Overfitting

- Solution:
Mean Encoding + Regularization

In [2]:
def Mean_Encoding(input_file, encode_column, target_variable):

# Parameter Instruction:
    # input_file: Pandas DataFrame; the dataset contains encode column and target variable
    # encode_column: the categorical feature needs mean encoding
    # target_variable: the column represents target variable/response variable
    
# Output
    # Pandas DataFrame; input_file with an additonal column of mean encoding values 
    
    input_file.fillna(0)
    ME = pd.DataFrame(input_file.groupby([encode_column])[target_variable].mean())
    ME = ME.rename(columns={target_variable : encode_column + ' ME'})
    input_file = input_file.merge(ME, left_on = encode_column, right_index = True, how = 'left')
    
    return input_file

##### Example

In [3]:
df = pd.DataFrame([['Kitten', 0], ['Kitten', 1], ['Kitten', 1], ['Kitten', 0], ['Kitten', 0], ['Puppy', 1], ['Puppy', 1], ['Puppy', 1], ['Puppy', 0]],
                 columns = ['Categorical Feature (X)','Target_Variable (Y)'])
df

  Categorical Feature (X)  Target_Variable (Y)
0                  Kitten                    0
1                  Kitten                    1
2                  Kitten                    1
3                  Kitten                    0
4                  Kitten                    0
5                   Puppy                    1
6                   Puppy                    1
7                   Puppy                    1
8                   Puppy                    0

In [4]:
Mean_Encoding(input_file = df
             ,encode_column = 'Categorical Feature (X)'
             ,target_variable = 'Target_Variable (Y)')

  Categorical Feature (X)  Target_Variable (Y)  Categorical Feature (X) ME
0                  Kitten                    0                        0.40
1                  Kitten                    1                        0.40
2                  Kitten                    1                        0.40
3                  Kitten                    0                        0.40
4                  Kitten                    0                        0.40
5                   Puppy                    1                        0.75
6                   Puppy                    1                        0.75
7                   Puppy                    1                        0.75
8                   Puppy                    0                        0.75